
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="POST" action="/Home/HitelSzamol">
        Összeg: <input type="text" name="osszeg" />
        <br/>
        Futamidő: <input type="text" name="futamido" />
        <br/>
        Kamat: <input type="text" name="kamat" />
        <br/>
        <input type="submit" value="Számold!" />
    </form>
</body>
</html>
